* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}


:root {
    --black-50: #575C66;
    --black-100: #525760;
    --black-200: #464A53;
    --black-300: #3B3E45;
    --black-400: #2F3237;
    --black-500: #222428;
    --black-600: #1C1E21;
    --black-700: #151619;
    --black-800: #0E0F11;
    --black-900: #070708;
    --black-950: #020203;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--black-500);
    color: #fff;
    font-weight: 700;
    z-index: 100;
}

.header__title a {
    color: #fff;
    text-decoration: none;
}

header .hamburguer {
    display: none;
    font-size: 20px;
}


header nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;

    &:hover {
        color: rgba(247, 255, 187, 1);
    }
}

.mi__perfil {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #0058ff, #8152eb, #ac4fd6, #c654c2, #d65eb1, #ea6aa2, #f57b97, #fb8f90, #ffaa8a, #ffc78f, #ffe49f, #f7ffbb);
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil__profesional {
    position: relative;
    width: 500px;
    height: 200px;
    left: 150px;
}

.perfil__profesional .saludo {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--black-500);
}

.perfil__profesional h1 {
    font-family: 'MADE Soulmaze', sans-serif;
    color: #fff;
    font-size: 48px;
    font-weight: 400;
}

.perfil__profesional .especialidad {
    font-family: 'MADE Soulmaze', sans-serif;
    color: #fff;
    font-size: 28px;
    font-weight: 400;
}


.perfil__profesional .redes__sociales {
    width: 100%;
    padding: 8px 0;
    display: flex;
    gap: 16px;
    font-size: 34px;
}

.perfil__profesional .redes__sociales a {
    color: var(--black-500);
    transition: color 0.3s ease;

    &:hover {
        color: #ffffff;
    }
}

.container__laptop__img {
    position: relative;
    width: 580px;
    height: 600px;
    right: 20px;
}

.container__laptop__img img {
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease;

    &:hover {
        filter: drop-shadow(4px 6px 40px rgb(255, 255, 255));
    }
}

.sobre__mi {
    width: 100%;
    height: 100vh;
    background-color: var(--black-600);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}


.container__profile__img {
    background-color: aliceblue;
    width: 300px;
    height: 500px;
    background-position: center;
    background-size: cover;
}

.container__profile__img img {
    width: 100%;
    height: 100%;

}

.container__parrafo {
    width: 500px;
    height: 500px;
    padding: 16px;
}

.container__parrafo span {
    padding-bottom: 16px;
}

.container__parrafo .container__parrafo__title {
    width: 100%;
    padding: 8px 0;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

}

.container__parrafo .container__parrafo__title h2 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin-left: 60px;
}

.container__parrafo .container__parrafo__title h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 50px;
    height: 8px;
    background-color: white;
    transform: translateY(-50%);
}

.container__parrafo p {
    color: #fff;
    padding-bottom: 16px;
    font-size: 14px;
}

.seccion__proyects {
    width: 100%;
    height: auto;
    gap: 32px;
}

.seccion_proyect__title {
    width: 60%;
    margin: 0 auto;
    padding-top: 64px;
    color: var(--black-500);
    margin-bottom: 16px;
}

.seccion_proyect__title h2 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    margin-top: 32px;
    padding-left: 60px;
}

.seccion_proyect__title h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 50px;
    height: 8px;
    background-color: var(--black-500);
    transform: translateY(-50%);
}

.container__proyects {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 24px;
    gap: 32px;
}

.card {
    width: 90%;
    height: auto;
    padding: 24px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.container__proyects .container__proyect_img {
    width: 500px;
    height: auto;
    background-color: var(--black-500);
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.container__proyects .container__proyect_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container__proyects .parrafo__proyect {
    width: 400px;
    min-height: 300px;
    padding: 8px 24px;
}

.container__proyects .card .parrafo__proyect h3 {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-bottom: 24px;

    background: linear-gradient(to right, #ffcc00, #ff6600);
    -webkit-background-clip: text;
    color: transparent;
}

.container__proyects .card .parrafo__proyect .description {
    font-size: 14px;
    font-weight: 600;
}

.container__proyects .card .parrafo__proyect .enlaces {
    width: 100%;
    margin-top: 16px;
    padding: 16px 0;
}

.container__proyects .card .parrafo__proyect .enlaces ul {
    display: flex;
    justify-content: start;
    gap: 8px;
    list-style: none;
}


.container__proyects .card .parrafo__proyect .enlaces ul li a {
    text-decoration: none;
    background-color: var(--black-500);
    padding: 6px 24px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;


    &:hover {
        background-color: var(--black-400);
    }
}

.separador {
    width: 700px;
    height: 1px;
    background-color: #ececec;
}

.container__parrafo .container__parrafo__title h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 50px;
    height: 8px;
    background-color: white;
    transform: translateY(-50%);
}

.btn__secondary__outline {
    margin-top: 32px;
    padding: 8px 16px;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    transition: border .2s linear;

    &:hover {
        border: 1px solid var(--black-500);
    }
}

.btn__secondary__outline a {
    text-decoration: none;
    color: #fff;
}

.section__skills {
    width: 100%;
    height: 300px;
    padding: 32px 0;
}


.title__skills {
    padding: 10px 260px;
}

.title__skills h2 {
    position: relative;
    color: var(--black-500);
    font-family: 'Poppins', sans-serif;
    padding: 16px 60px;
}



.title__skills h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 50px;
    height: 8px;
    background-color: var(--black-500);
    transform: translateY(-50%);
}

.container__skills {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 32px 42px;
}

.container__skills .badge {
    color: white;
    font-weight: 500;
    background-color: #151619;
    padding: 8px 16px;
    border-radius: 10px;
}

.container__skills .badge:hover {
    background-color: var(--black-400);
}

#disabled-link {
    color: #fff;
    pointer-events: none;
    background-color: var(--black-100);
}

.seccion_footer {
    width: 100%;
    height: 100px;
    background-color: var(--black-500);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* Responsive 1024px*/

@media screen and (max-width: 1024px) {
    .perfil__profesional h1 {
        font-size: 40px;
    }

    .perfil__profesional .especialidad {
        font-size: 24px;
    }

    .seccion_proyect__title {
        width: 100%;
    }

    .seccion_proyect__title h2 {
        margin-left: 100px;
    }


    .perfil__profesional .redes__sociales {
        font-size: 30px;
    }

}


@media screen and (max-width: 768px) {

    .container__laptop__img {
        display: none;
    }

    .perfil__profesional {
        left: 0px;
        text-align: center;
    }

    .perfil__profesional .redes__sociales {
        justify-content: center;
    }

    .container__parrafo {
        width: 650px;
    }

    .container__profile__img {
        display: none;
    }

    .seccion_proyect__title h2 {
        margin-left: 70px;
    }
}

@media screen and (max-width: 678px) {
    header nav {
        display: none;
    }

    header {
        padding: 0 32px;
        justify-content: space-between;
    }

    header .hamburguer {
        display: block;
        cursor: pointer;
    }
}